.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.cart-container {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	min-height: 100%;
	margin-bottom: 50px;
}

.cart-details {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
}

.cart-item {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 13px;
    border-radius: 5px;
	flex-grow: 1;
}

.product-wrapper {
	display: flex;
	padding: 20px 0px;
	min-height: 17rem;
	position: relative;
	justify-content: center;
	align-items: center;
}

.product-image {
	display: flex;
    justify-content: center;
    width: 23%;
    margin-right: 27px;
}

.img-cart {
  width: 90%;
  filter: drop-shadow(0px 7px 8px rgba(0, 0, 0, 0.3));
}

.product-body {
	display: flex;
	padding-left: 10px;
	width: 34%;
	flex-direction: column;
	justify-content: space-between;
}

.product-name .big {
	font-size: 2.1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #e85923;
}

.title {
	font-size: 1.3rem;
	font-weight: 600;
	color: #3a3a3a;
	text-transform: uppercase;
}

.product-actions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 28%;
	margin-top: 36px;
}

.product-price {
	color: #e85923;
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.product-actions .price-header {
	margin-right: 11px;
}

.product-price h1 {
	font-size: 2.6rem;
	font-weight: bold;
	line-height: 1;
}

.product-price span {
	font-size: 1.4rem;
	margin-right: 1px;
}

.product-buttons {
	display: flex;
	align-items: center;
}

.deleteProduct {
	display: flex;
    position: absolute;
    top: 5%;
    right: 1%;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: white;
    /* font-size: 18px; */
    border-radius: 50%;
    border: none;
    padding: 7px;
    transition: 400ms;
}

.deleteProduct:hover {
	transform: scale(1.1);
}

.saveChanges {
	display: flex;
	margin-right: 10px;
    justify-content: center;
    background-color: green;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

.saveChanges > span {
	margin-top: 5px;
	margin-right: 2px;
}

.cancelChanges {
	display: flex;
    justify-content: center;
    background-color: #3a3a3a;
	color: white;
	font-size: 18px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

.cancelChanges > span {
	margin-top: 5px;
	margin-right: 2px;
}

.btn-custom:hover, .btn-custom:focus{
    background-color: var(--first-color);
    color: white;
}

.minus, .plus{
	cursor: pointer;
    color: black;
    font-weight: bold;
    width: 30px;
    height: 30px;
    background-color: #e85923;
    border-radius: 50%;
    color: white;
    border: 1px solid #e85923;
    display: inline-block;
    vertical-align: middle;
    line-height: 27px;
    text-align: center;
    transition: 0.4s;
}

.minus:hover {
	transform: scale(1,1);
	color: black;
	background-color: #ffd19b;
}

.plus:hover {
	transform: scale(1,1);
	color: black;
	background-color: #ffd19b;
}

.quantity{
	height:30px;
    width: 100px;
    text-align: center;
    font-size: 22px;
	border:thin solid #e85923;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

.cart-ticket {
	display: flex;
	flex-direction: column;
	width: 38%;
    margin: 13px 0;
    max-height: 30rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 20px;
    background-color: white;
}

.ticket-header {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.ticket-action {
	width: 100%;
}

.checkout-btn {
	display: block;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #e85923;
	color: white;
	transition: 400ms;
}

.checkout-btn:hover {
	text-decoration: none;
	color: white;
	transform: scale(1.1);
}

.total-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: thin solid black;
	margin-bottom: 19px;
}

.final-price {
	color: #e85923;
	display: flex;
	align-items: flex-start;
}

.final-price h1 {
	font-size: 1.9rem;
	font-weight: bold;
	line-height: 1;
}

.final-price > span {
	font-size: 1rem;
	margin-right: 1px;
}