.navbar-gradient {
  background: linear-gradient(25deg, #0734b8 0%, #7a7bba 100%);
}
.navbar-gradient2 {
  background-image: linear-gradient(25deg, #ec6f43 0%, #e85923 100%);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


.form-inputs {
  position: relative;
}

.form-inputs i {
  position: absolute;
  right: 10px;
  top: 15px;
}
.shop-bag {
  background-color: #ec6f43;
  color: white;
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.qty {
  font-size: 12px;
}

.form-inputs input[type="text"] {
  display: flex;
  flex-grow: 1;
  padding: 8px;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  outline: none;
  border: 2px solid #0734b8;
}

.form-inputs select {
  display: flex;
  flex-grow: 1;
  padding: 8px;
  outline: none;
  border: 2px solid #0734b8;
  border-radius: 5px;
  background-color: #0734b8;
  color: white;
  cursor: pointer;
}

.form-inputs select:hover {
  background-color: #7a7bba;
  border: 2px solid #7a7bba;
}

.logo-wrapper {
  cursor: pointer;
}

.logo-wrapper a {
  width: 85%;
}

.logo-wrapper img {
  width: 100%;
}

.nav-item a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all 300ms;
}

.nav-item a:hover {
  color: #e85923;
}

#banner-container {
	background: linear-gradient(128deg, rgba(7, 52, 184, 0.2), rgba(7, 52, 184, 0.6));
  	width: 100%;
  	box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 10%);
    margin-bottom: 46px;
    height: 510px;
    position: relative;
}

.background-banner {
	width: 100%;
}

.home-banner {
	width: 35%;
    position: absolute;
    right: 58%;
    top: 8%;
    z-index: 3;
}

#banner-container h1 {
    position: absolute;
    color: black;
    font-size: 4.4rem;
    top: 31%;
    left: 45%;
}

#banner-container h1.second-paragraph {
	font-size: 2.4rem;
    left: 46%;
    top: 48%;
}

.banner-link {
	text-decoration: none;
	color: #ec6f43;
}

.banner-link:hover {
	text-decoration: none;
	color: #e85923;
}

#featured-section {
  display: flex;
  justify-content: center;
}

#product-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.featured-container {
  flex-grow: 0;
  width: 1200px;
}

.featured-container ul {
  list-style: none;
}

.featured-container .featured-header {
  font-weight: 700;
  margin-left: 35px;
  margin-bottom: 14px;
}

.featured-container ul li {
  display: inline-block;
  margin-right: 35px;
}

.featured-container ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

.featured-container ul li a:hover {
  color: #e85923;
}

.featured-container ul li a h5 {
  margin-top: 10px;
  text-align: center;
  text-overflow: ellipsis;
  max-width: 141px;
}

.featured-category {
  background-color: #ec6f43;
  color: white;
  padding: 70px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.featured-header {
  display: flex;
  flex-direction: row;
}

.featured-header .header-link a {
  display: flex;
  color: #888;
  flex-direction: row;
  margin-left: 25px;
  margin-top: 8px;
  text-decoration: none;
  transition: all 400ms;
}

.featured-header .header-link a:hover {
  transform: scale(1.2);
  color: #ec6f43;
}

.featured-header .header-link a p {
  margin: 0;
}

.featured-header .header-link a span {
  margin-left: 1px;
}
