.thankyou-header {
    width: 100%;
    height: auto;
    display: flex;
}

.thankyou-banner {
    width: 540px;
    position: absolute;
    top: 20%;
    left: 10%;
}

.thankyou-header h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    right: 20%;
}

