<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webuy | Product Manager</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/view-css/adminProductList.css">
</head>

<body>
    <header th:insert="headerfooter :: header"> </header>
    <div class="admin-product-list">
        <section id="admin-header">
            <h1>Product Manager</h1>
            <section class="list-actions">
                <form action="" class="list-form">
                    <input type="text" name="category" placeholder="Sort by category" list="category-list">
                    <datalist id="category-list">
                        <option value="Electronics"></option>
                        <option value="Clothing"></option>
                        <option value="Kitchen"></option>
                    </datalist>
                    <input type="text" name="search-bar" class="search-input" placeholder="Search product..." />
                    <button type="submit" class="search-btn">
                        <span class="material-icons">
                            search
                        </span>
                    </button>

                </form>
                <a id="p-add" href="#" onclick="showAddModalAdminProducts();"><span
                        class="material-icons md-36 add-btn">add</span></a>
            </section>
        </section>

        <section class="list-container">

            <article class="product-item" th:each="product: ${listProducts}">
                <div class="product-actions">

                    <span id="p-delete" class="material-icons p-action"
                        onclick="confirm('Are you sure you want to delete this product?');">delete</span>
                    <span id="p-edit" th:product-name="${product.name}" th:product-id="${product.id}" th:onclick="editModalAdminProduct(this, this.getAttribute('product-id'), this.getAttribute('product-name'))" class="material-icons p-action">edit</span>
                </div>
                <div class="product-img">
                    <img src="https://via.placeholder.com/150" alt="" />
                </div>

                <div class="product-wrapper">
                    <div class="product-info">
                        <strong id="p-price">$59.99</strong>
                        <p id="p-name" th:text="${product.name}">Product name</p>
                        <p th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non molestie lectus.
                            Phasellus fringilla eleifend
                            velit ut rhoncus.</p>
                        <p th:text="${product.company}" id="p-brand">Brand Name</p>
                    </div>
                </div>
            </article>

        </section>
        <div id="addModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Create New Product</h3>
                <form action="@{/products/new}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <label for="name">Name</label><br>
                    <input type="text" name="name" placeholder="Type product name here"><br>
                    <label for="category">Category</label><br>
                    <select name="category">
                        <option disabled selected>Select product category</option>
                        <option value="electronics">Electronics</option>
                        <option value="clothing">Clothing</option>
                        <option value="kitchen">Kitchen</option>
                    </select><br>
                    <label for="company">Brand</label><br>
                    <input type="text" name="company" placeholder="Type product brand here"><br>
                    <label for="description">Description</label><br>
                    <textarea type="text" name="description" rows="3" cols="50"
                        placeholder="Type description here"></textarea><br>
                    <label for="price">Price</label><br>
                    <input type="number" name="price" placeholder="0" min="0" step=".01"><br>
                    <label for="image">Image</label><br>
                    <input type="file" name="image" accept="image/*"><br>
                    <button type="submit"><span class="material-icons">add_circle_outline</span> Create</button>
                </form>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Edit Product</h3>
                <form action="#">
                    <label for="name">Name</label><br>
                    <input id="name" type="text" name="name" placeholder="Type product name here" value="Product name"><br>
                    <label for="category">Category</label><br>
                    <select name="category">
                        <option disabled>Select product category</option>
                        <option value="electronics" selected>Electronics</option>
                        <option value="clothing">Clothing</option>
                        <option value="kitchen">Kitchen</option>
                    </select><br>
                    <label for="company">Brand</label><br>
                    <input type="text" name="company" placeholder="Type product brand here" value="Brand Name"><br>
                    <label for="description">Description</label><br>
                    <textarea type="text" name="description" rows="3" cols="50"
                        placeholder="Type description here">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non molestie lectus. Phasellus fringilla eleifend velit ut rhoncus.</textarea><br>
                    <label for="price">Price</label><br>
                    <input type="number" name="price" placeholder="0" min="0" step=".01" value="59.99"><br>
                    <label for="image">Image</label><br>
                    <input type="file" name="image" accept="image/*"><br>
                    <button type="submit" ><span class="material-icons">edit</span> Update</button>
                </form>
            </div>
        </div>
        <section id="pagination-wrapper">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </section>

    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
    <!-- Modals script -->
    <script th:src="@{/js/view-js/showModals.js}"></script>
</body>

</html>