<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webuy | Product Manager</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/view-css/adminProductList.css">
    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{../static/img/apple-touch-icon.png}">
	<link rel="shortcut icon" type="image/png" sizes="32x32" th:href="@{../static/img/favicon-32x32.png}">
	<link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{../static/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{../static/img/site.webmanifest}">
	<link rel="mask-icon" th:href="@{../static/img/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <header th:insert="headerfooter :: superUser-header"> </header>
    <!--<div th:insert="headerfooter :: admin-header"></div>-->
    <div class="admin-product-list">
        <section id="admin-header">
            <section class="list-actions">
            	<a id="p-add" href="#" class="add-btn" onclick="showNAddModal();"><span
                        class="material-icons md-36">add_circle_outline</span>New</a>
                
            </section>
        </section>

        <section class="list-container">

            <article id="product" class="product-item" th:each="product: ${listProducts}">
                <div class="card-face face-1">
                	<div class="top-part">
                		<p id="p-name" class="hide" th:text="${product.name}">Product name</p>
                		<p th:text="${product.company}" class="hide" id="p-brand">Brand Name</p>
                	</div>
					<div class="bottom-part">
                        <h2 class="p-price hide"><span>$</span><strong class="p-price hide" th:text="${product.price}">$$</strong></h2>
                        <div class="arrow-container hide">
                        	<span class="material-icons right-arrow">east</span>
                        </div>
					</div>
                </div>
				<div class="card-face face-2">
					<div class="top-part">
						<div class="top-header">
							<p id="p-name" class="hide" th:text="${product.name}">Product name</p>
							<p th:text="${product.description}" class="hide" id="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non molestie lectus.
	                            Phasellus fringilla eleifend
	                            velit ut rhoncus.</p>
                        </div>
					</div>
					<div class="product-actions">
	                    <a th:href="@{/deleteProduct/{id}(id=${product.id})}" onclick="confirm('Are you sure you want to delete this product?');">
	                    <span id="p-delete" class="material-icons p-action hide">delete</span></a>
	                    <span id="p-edit" th:product-name="${product.name}" th:product-category="${product.categoryId}" th:product-company="${product.company}" th:product-price="${product.price}" th:product-description="${product.description}" th:product-id="${product.id}" th:onclick="editNModalAdminProduct(this, this.getAttribute('product-id'), this.getAttribute('product-name'), this.getAttribute('product-description'), this.getAttribute('product-price'), this.getAttribute('product-company'), this.getAttribute('product-category'));" class="material-icons p-action hide">edit</span>
	                </div>
				</div>
                <div class="image-wrapper">
               		<div class="product-img">
                    	<img th:src="${product.imagePath}" alt="" class="p-image" />
                	</div>
               	</div>
            </article>

        </section>
        <div th:insert=" adminProductModals :: modal-add"> </div>
        <div th:insert=" adminProductModals :: modal-edit"> </div>
        
        <section id="pagination-wrapper">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!paginationData.hasPrevious()} ? disabled">
                        <a class="page-link"
                            th:href="@{/admin/products(size=${paginationData.pageSize}, page=${paginationData.currentPage-1})}"
                            tabindex="
                            -1">Previous</a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, paginationData.totalPages )}" class="page-item"
                        th:classappend="${i==paginationData.currentPage} ? active">
                        <a class="page-link" th:text="${i}"
                            th:href="@{/admin/products(size=${paginationData.pageSize}, page=${i})}">a</a>
                    </li>
                    <li class="page-item" th:classappend="${!paginationData.hasNext()} ? disabled">
                        <a class="page-link"
                            th:href="@{/admin/products(size=${paginationData.pageSize}, page=${paginationData.currentPage+1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </section>

    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
    <!-- Modals script -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/adminproduct.js"></script>
</body>
</html>