<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webuy | Cart</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Google icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{../static/img/apple-touch-icon.png}">
	<link rel="shortcut icon" type="image/png" sizes="32x32" th:href="@{../static/img/favicon-32x32.png}">
	<link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{../static/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{../static/img/site.webmanifest}">
	<link rel="mask-icon" th:href="@{../static/img/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <header th:insert="headerfooter :: normal-header"> </header>
    <div id="breadcrumb-container">
          	<nav aria-label="breadcrumb">
          		<ol class="breadcrumb">
          			<li class="breadcrumb-item"><a th:href="@{/home}" class="breadcrumb-link">Home</a></li>
          			<li th:if="${#httpServletRequest.requestURI == '/cart'}"
          				th:classappend="${#httpServletRequest.requestURI == '/cart'} ? active" 
          				th:attrappend="aria-current=${#httpServletRequest.requestURI == '/cart'} ? 'page'" 
          				class="breadcrumb-item">
          					Cart
				</li>
          		</ol>
          	</nav>
      	</div>
    <div class="cart-container">
    	<div class="cart-details">
    		<form id="update" action="updateCart" method="POST">
	       		<input type="text" id="idProductDetail" name="id" hidden/>
	           	<input type="text" id="quantityProductDetail" name="quantity" hidden/>
	           	<input type="text" id="priceProductDetail" name="price" hidden/>
	        </form>
	        <form id="delete" action="deleteCart" method="POST">
	        	<input type="text" id="idProductDetailDelete" name="id" hidden/>
	        </form>
    		<form>
    			<article class="cart-item" th:each="details: ${details}">
    				<div class="product-container" th:attr="data-detid=${details.id}, data-cost=${details.costCoupon}, data-quantity=${details.quantity}">
	    				<div class="product-wrapper">
		    				<div class="product-image">
		    					<img th:src="${details.productImage}" class="img-cart" alt="Product image"/>
		    				</div>
		    				<div class="product-body">
		    					<div class="product-name">
		    						<h1 th:text="${details.productName}" class="big"></h1>
		    					</div>
		    					<div class="product-quantity">
		    						<h1 class="title">Quantity</h1>
		    						<span class="minus">-</span>
									<input class="quantity" type="text" th:value="${details.quantity}" disabled/>
									<span class="plus">+</span>
		    					</div>
		    				</div>
		    				<div class="product-actions">
		    					<div class="product-price">
		    						<h1 class="price-header">Price:</h1>
		    						<span>$</span>
									<h1 class="oPrice" th:text="${details.costCoupon}"></h1>
		    					</div>
		    					<div class="product-buttons">
		    						<button type="button" class="deleteProduct"><span class="material-icons md-18">
		    							delete</span>
		    						</button>
		                            <button type="button" class="saveChanges" hidden><span class="material-icons md-18">
		    							check_circle</span> Save
		    						</button>
		                            <button type="button" class="cancelChanges" hidden><span class="material-icons md-18">
		    							cancel</span> Cancel
		    						</button>
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</article>
    		</form>
    	</div>
    	<div class="cart-ticket">
    		<div class="ticket-header">
    			<h1 class="big">Cart</h1>
    		</div>
    		<div class="total-price">
    			<h3 class="title">Total:</h3>
    			<div class="final-price">
    				<span>$</span>
    				<h1 class="text" th:text="${session.cartPrice}"></h1>
    			</div>
    		</div>    
    		<div class="ticket-action">
    			<a th:href="@{/checkout}" class="checkout-btn">Checkout</a>
    		</div>           
    	</div>
    	<input type="text" placeholder="" id="totalPrice" hidden th:value="'$'+${session.cartPrice}"/>
    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/cart.js"></script>
</body>

</html>