<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webuy | Cart</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{../static/img/apple-touch-icon.png}">
	<link rel="shortcut icon" type="image/png" sizes="32x32" th:href="@{../static/img/favicon-32x32.png}">
	<link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{../static/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{../static/img/site.webmanifest}">
	<link rel="mask-icon" th:href="@{../static/img/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <header th:insert="headerfooter :: normal-header"> </header>
    <br>
    <div class="container mb-5">
        <div class="cart-items-container">
        	<div id="breadcrumb-container">
	            	<nav aria-label="breadcrumb">
	            		<ol class="breadcrumb">
	            			<li class="breadcrumb-item"><a th:href="@{/home}" class="breadcrumb-link">Home</a></li>
	            			<li th:if="${#httpServletRequest.requestURI == '/cart'}"
	            				th:classappend="${#httpServletRequest.requestURI == '/cart'} ? active" 
	            				th:attrappend="aria-current=${#httpServletRequest.requestURI == '/cart'} ? 'page'" 
	            				class="breadcrumb-item">
	            					Cart
							</li>
	            		</ol>
	            	</nav>
            	</div>
            <h1>My cart</h1>
            <form>
	            <div th:each="details: ${details}">
		            <div class="module-border-wrap" >
	                    <div class="module">
	                        <div class="left-div">
	                            <img th:src="${details.productImage}" class="img-cart" alt="Product image"/>
	                        </div>
	                        <div class="center-div">
	                            <span class="description" th:text="${details.productName}"></span>
	                            <br />
	                            <label for="item1" class="form-label">Quantity: </label>
	                            <input type="text" class="form-control" id="item1" th:value="${details.quantity}">
	                        </div>
	                        <div class="right-div">
	                            <span class="description" th:text="'Price: $' + ${details.costCoupon}"></span>
	                            <br />
	                            <button class="btn-remove">Remove</button>
	                        </div>
	                    </div>
	                </div>
	                <br>
	            </div>
                
                
                <div class="row">
                    <div class="col-sm-8">
                        
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label for="totalPrice" class="form-label">Total Price</label>
                            <input type="text" class="form-control" placeholder="" id="totalPrice" disabled th:value="'$'+${session.cartPrice}"/>
                        </div>
                        <br />
                        <a href="checkout"><button type="button" class="btn btn-custom">Purchase</button></a>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
</body>

</html>