<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webuy | Coupon Manager</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/view-css/coupons.css">
</head>

<body>
    <header th:insert="headerfooter :: header"> </header>
    <div class="admin-coupons">

        <section id="admin-header">
            <h1>Coupon Manager</h1>
            <section class="coupon-actions">
                <form id="couponSearchForm" action="couponSearch" class="coupon-form">
                    <input id="searchInput" type="text" name="search-bar" class="search-input" placeholder="Search coupon code..." />
                    <button type="submit" class="search-btn">
                        <span class="material-icons">
                            search
                        </span>
                    </button>

                </form>
                <a href="#" onclick="showAddModal();"><span class="material-icons md-36 add-btn">add</span></a>
            </section>
        </section>
        <section class="coupons-container">
            <table class="coupons-table table table-striped col-12">
                <thead class="coupons-table-head">
                    <tr>
                        <th>Coupon Code</th>
                        <th>Discount Percentage</th>
                        <th>Category</th>
                        <th>Promotion Event</th>
                        <th>Coupon type</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody class="coupons-table-body">
                    <tr th:each="coupons: ${coupons}">
                        <td th:text="${coupons.coupon_name}" />
                        <td th:text="${coupons.coupon_discount}" />
                        <td th:text="${coupons.category_name}" />
                        <td th:text="${coupons.promotion_event_name}" />
                        <td th:text="${coupons.coupon_type}" />
                        <td><span id="p-edit" class="material-icons p-action" onclick="showEditModal();">edit</span>
                        </td>
                        <td><span id="p-delete" class="material-icons p-action"
                                onclick="confirm('Are you sure you want to delete this coupon?');">delete</span></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div id="couponDataModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Coupon Information</h3>
                <form>
				  <div class="form-group">
				    <label for="couponNameS">Coupon Name</label>
				    <input type="text" class="form-control" id="couponNameS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="couponDiscountS">Coupon Discount %</label>
				    <input type="text" class="form-control" id="couponDiscountS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="couponPromotionS">Promotion Event</label>
				    <input type="text" class="form-control" id="couponPromotionS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="couponCategoryS">Category</label>
				    <input type="text" class="form-control" id="couponCategoryS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="couponTypeS">Coupon Type</label>
				    <input type="text" class="form-control" id="couponTypeS" disabled>
				  </div>
				</form>
            </div>
        </div>
        
        <div id="addModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Create New Coupon</h3>
                <form action="createCoupon">
                    <label for="c-name">Name</label><br>
                    <input type="text" name="c-name" placeholder="Type coupon name here"><br>
                    <label for="pe-list">Promotion Event</label><br>
                    <select name="pe-list">
                        <option disabled selected>Select promotion event</option>
                        <option value="1">Black Friday 2022</option>
                        <option value="2">Christmas 2021</option>
                        <option value="3">Thanksgiving 2021</option>
                    </select><br>
                    <label for="c-product-category">Category</label><br>
                    <select name="c-product-category">
                        <option disabled selected>Select product category</option>
                        <option value="1">Electronics</option>
                        <option value="2">Clothing</option>
                        <option value="3">Kitchen</option>
                    </select><br>
                    <label for="coupon-type">Coupon Type</label><br>
                    <select name="coupon-type">
                        <option disabled selected>Select coupon type</option>
                        <option value="Open">Open</option>
                        <option value="Nopen">Not open</option>
                    </select><br>
                    <label for="c-discount">Coupon discount (%)</label><br>
                    <input type="number" name="c-discount" placeholder="0" min="0"><br>
                    <button type="submit"><span class="material-icons">add_circle_outline</span> Create</button>
                </form>
            </div>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Edit Coupon</h3>
                <form action="#">
                    <label for="c-name">Name</label><br>
                    <input type="text" name="c-name" placeholder="Type coupon name here" value="blackfriday2022"><br>
                    <label for="c-promotion-event">Promotion Event</label><br>
                    <select name="pe-list">
                        <option disabled>Select promotion event</option>
                        <option value="1" selected>Black Friday 2022</option>
                        <option value="2">Christmas 2021</option>
                        <option value="3">Thanksgiving 2021</option>
                    </select><br>
                    <label for="c-product-category">Category</label><br>
                    <select name="categories-list">
                        <option disabled>Select product category</option>
                        <option value="electronics" selected>Electronics</option>
                        <option value="clothing">Clothing</option>
                        <option value="kitchen">Kitchen</option>
                    </select><br>
                    <label for="p-category">Coupon Type</label><br>
                    <select name="categories-list">
                        <option disabled>Select coupon type</option>
                        <option value="Open">Open</option>
                        <option value="Nopen" selected>Not open</option>
                    </select><br>
                    <label for="p-price">Coupon discount (%)</label><br>
                    <input type="number" name="p-price" placeholder="0" min="0" value="40"><br>
                    <button type="submit"><span class="material-icons">edit</span> Update</button>
                </form>
            </div>
        </div>
        <section id="pagination-wrapper">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
    <!-- Modals script -->
    <script src="../js/view-js/showModals.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/coupons.js"></script>
</body>

</html>