<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="admin-header">
		<nav class="navbar navbar-dark navbar-expand p-0 user-features">
	        <div class="container-fluid">
	        	<p></p>
	            <ul class="navbar-nav d-none d-md-flex ml-auto">
	                <li class="nav-item"><a class="nav-link" th:href="@{/admin/products}" data-abc="true">Products</a></li>
	                <li class="nav-item"><a class="nav-link" th:href="@{/coupons}" data-abc="true">Coupons</a></li>
	                <li class="nav-item"><a class="nav-link" th:href="@{/promotionevents}" data-abc="true">Promotion Events</a></li>
	            </ul><!-- list-inline // -->
	        </div> <!-- navbar-collapse .// -->
	        <!-- container // -->
	    </nav>
	</div>
	<div th:fragment="header">
		<header class="section-header">
		    <section class="header-main bg-white">
		        <div class="container-fluid">
		            <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
		                <div class="col-md-2 d-md-flex justify-content-center logo-wrapper"> <a th:href="@{/}"><img src="img/webuy-color.png"></a> </div>
		                <div class="col-md-7">
		                    <div class="d-flex form-inputs">
		                        <select name="category-search">
		                            <option disabled selected>Search by category</option>
		                            <option value="electronics">Electronics</option>
		                            <option value="clothing">Clothing</option>
		                            <option value="kitchen">Kitchen</option>
		                        </select>
		                        <input type="text" placeholder="Search any product..."><i class="bx bx-search"></i>
		                    </div>
		                </div>
		                <div class="col-md-3 d-flex flex-row justify-content-between">
		                    <div class="d-flex d-none d-md-flex flex-row align-items-center"> <a th:href="@{cart}"><span class="shop-bag"><i class='bi bi-cart'></i></span></a>
		                        <div class="d-flex flex-column ms-2"> <span class="qty">1 Product</span> <span class="fw-bold">$27.90</span> </div>
		                    </div>
		                    <ul class="navbar-nav d-flex flex-row align-items-center ml-2">
		                        <li class="nav-item"> <a th:href="@{/signin}" class="p-2" data-abc="true"><span>Sign in</span></a> </li>
		                        <li class="nav-item"> <a th:href="@{/register}" class="p-2" data-abc="true"><span>Register</span></a> </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </section>
		</header>
	</div>
	<div th:fragment="footer">
		<p>webuy &copy; 2022</p>
	</div>
</body>
</html>