<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webuy</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/view-css/productDetails.css">
    <link rel="stylesheet" href="../css/products.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div>

		<header th:insert="headerfooter :: normal-header"> </header>
            <!--Container Main start-->
            <div class="flexible-container">
            	<div id="breadcrumb-container">
	            	<nav aria-label="breadcrumb">
	            		<ol class="breadcrumb">
	            			<li class="breadcrumb-item"><a th:href="@{/}" class="breadcrumb-link">Home</a></li>
	            			<li th:if="${#httpServletRequest.requestURI == '/mainview'}"
	            				th:classappend="${#httpServletRequest.requestURI == '/mainview'} ? active" 
	            				th:attrappend="aria-current=${#httpServletRequest.requestURI == '/mainview'} ? 'page'" 
	            				class="breadcrumb-item">
	            					Products
							</li>
							<li th:unless="${#httpServletRequest.requestURI == '/mainview'}"
	            				th:classappend="${#httpServletRequest.requestURI == '/mainview'} ? active" 
	            				th:attrappend="aria-current=${#httpServletRequest.requestURI == '/mainview'} ? 'page'" 
	            				class="breadcrumb-item">
	            					<a th:if="${#httpServletRequest.requestURI == '/mainview/__${category_name}__'}"
										th:href="@{/mainview}" class="breadcrumb-link">Products</a>
							</li>
	            			<li th:if="${category_name}" 
	            				th:classappend="${#httpServletRequest.requestURI == '/mainview/__${category_name}__'} ? active" 
	            				th:attrappend="aria-current=${#httpServletRequest.requestURI == '/mainview/__${category_name}__'} ? 'page'"
	            				class="breadcrumb-item" 
	            				th:text="${category_name}">Category</li>
	            		</ol>
	            	</nav>
            	</div>
                <div class="main">
                    <div class="col-8">
                        <section class="list-actions">
                            <form action="" class="list-form">
                                <input type="text" name="search-bar" class="search-input"
                                    placeholder="Search product..." />
                                <button type="submit" class="search-btn">
                                    <span class="material-icons">
                                        search
                                    </span>
                                </button>
                            </form>
                        </section>
                    </div>
                    <div class="col-4"></div>
                    <section class="list-container">
                        <article class="product-item" th:each="product: ${listProducts}" th:attr="data-id=${product.id}, data-idcategory=${product.categoryId}">

                            <div class="product-img">
                                <img src="https://via.placeholder.com/150" alt="" />
                            </div>
                            <div class="product-wrapper">
                                <div class="product-info">
                                    <strong id="p-price" th:text="'$' + ${product.price}"></strong>
                                    <p id="p-name" th:text="${product.name}"></p>
                                    <p th:text="${product.description}"></p>
                                    <p id="p-brand" th:text="${product.company}"></p>
                                </div>
                            </div>
                        </article>
					</section>
					<section id="pagination-wrapper" th:if="${#httpServletRequest.requestURI == '/mainview'}">

						<nav aria-label="...">
							<ul class="pagination">
								<li class="page-item"
									th:classappend="${!paginationData.hasPrevious()} ? disabled">
									<a class="page-link"
									th:href="@{__${#httpServletRequest.requestURI}__(size=${paginationData.pageSize}, page=${paginationData.currentPage-1})}"
									tabindex="
                                        -1">Previous</a>
                                </li>
                                <li th:each="i: ${#numbers.sequence(1, paginationData.totalPages )}" class="page-item"
                                    th:classappend="${i==paginationData.currentPage} ? active">
                                    <a class="page-link" th:text="${i}"
                                        th:href="@{__${#httpServletRequest.requestURI}__(size=${paginationData.pageSize}, page=${i})}">a</a>
                                </li>
                                <li class="page-item" th:classappend="${!paginationData.hasNext()} ? disabled">
                                    <a class="page-link"
                                        th:href="@{__${#httpServletRequest.requestURI}__(size=${paginationData.pageSize}, page=${paginationData.currentPage+1})}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
        <footer th:insert=" productmodal :: modal-addCart"> </footer>
        <footer th:insert=" headerfooter :: footer"> </footer>
    </div>
    <script type="text/javascript" src="../js/sideBar.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/product.js"></script>
</body>

</html>