<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Webuy</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/global.css">
<link rel="stylesheet" type="text/css"
	href="../css/view-css/adminProductList.css">
<link rel="stylesheet" href="../css/sideBar.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>

<body>
	<div>
		<header th:insert="headerfooter :: normal-header"> </header>
		<div class="content d-flex">
			<div class="l-navbar" id="nav-bar"
				style="background: rgb(7, 51, 184); background: linear-gradient(rgba(7, 51, 184, 1) 0%, rgba(122, 123, 186, 1) 100%);">
				<nav class="nav">
					<div>
						<a href="#" class="nav_logo"> <i
							class='bx bx-layer nav_logo-icon'></i> <span
							class="nav_logo-name">Categories</span>
						</a>
						<div class="nav_list">
							<a href="#" class="nav_link active"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									1</span>
							</a> <a href="#" class="nav_link"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									2</span>
							</a> <a href="#" class="nav_link"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									3</span>
							</a> <a href="#" class="nav_link"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									4</span>
							</a> <a href="#" class="nav_link"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									5</span>
							</a> <a href="#" class="nav_link"> <i
								class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Category
									6</span>
							</a>
						</div>
					</div>
					<a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i>
						<span class="nav_name">About Us</span>
					</a>
				</nav>
			</div>
			<!--Container Main start-->
			<div class="flexible-container">
				<header class="header" id="header">
					<div class="header_toggle">
						<i class='bx bx-menu' id="header-toggle" onclick="sideBarMenu()"></i>
					</div>
				</header>
				<div class="main">
					<section class="list-container">
						<article class="product-item" th:each="product: ${listProducts}">
							<a
								th:href="@{/mainview/details/{product_id}(product_id=${product.id})}">
								<div class="product-img">
									<img src="https://via.placeholder.com/150" alt="" />
								</div>
								<div class="product-wrapper">
									<div class="product-info">
										<strong id="p-price">$59.99</strong>
										<p id="p-name" th:text="${product.name}">Product name</p>
										<p th:text="${product.description}">Lorem ipsum dolor sit
											amet, consectetur adipiscing elit. Curabitur non molestie
											lectus. Phasellus fringilla eleifend velit ut rhoncus.</p>
										<p id="p-brand" th:text="${product.company}">Brand Name</p>
									</div>
								</div>
							</a>
						</article>

					</section>
					<section id="pagination-wrapper">

						<nav aria-label="...">
							<ul class="pagination">
								<li class="page-item"
									th:classappend="${!paginationData.hasPrevious()} ? disabled">
									<a class="page-link"
									th:href="@{/mainview(size=${paginationData.pageSize}, page=${paginationData.currentPage-1})}"
									tabindex="
                                        -1">Previous</a>
								</li>
								<li
									th:each="i: ${#numbers.sequence(1, paginationData.totalPages )}"
									class="page-item"
									th:classappend="${i==paginationData.currentPage} ? active">
									<a class="page-link" th:text="${i}"
									th:href="@{/mainview(size=${paginationData.pageSize}, page=${i})}">a</a>
								</li>
								<li class="page-item"
									th:classappend="${!paginationData.hasNext()} ? disabled">
									<a class="page-link"
									th:href="@{/mainview(size=${paginationData.pageSize}, page=${paginationData.currentPage+1})}">Next</a>
								</li>
							</ul>
						</nav>
					</section>
				</div>
			</div>
		</div>
		<footer th:insert=" headerfooter :: footer"> </footer>
	</div>
	<script type="text/javascript" src="../js/sideBar.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
</body>

</html>