<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="modal-addCart">
		<div class="modal" id="modalAddCart" tabindex="-1">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 style="color:black; display:inline" id="headerModalDetails"></h4>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <div class="card mb-3 card-custom">
		            <div class="row g-0">
		                <div class="col-md-4 d-flex justify-content-center">
		                    <img id='imgDetails' class="img-fluid rounded-start img-custom"/>
		                </div>
		                <div class="col-md-8">
		                    <div class="card-body">
		                    	<input type="text" id="productID" hidden/>
		                        <h5 style="color:black" id="headerModalCompany"></h5>
		                        <p class="price-label">Price: $
		                        <span id="priceDetails" class="price-number"></span>
		                        <span id="arrowPrice" class="price-number" hidden>=> $</span> 
		                        <span id="newPriceDetails" class="price-number" hidden></span>
		                        </p>
		                        <p class="card-text" style="color:black" id="descriptionDetails"></p>
		                        <div class="form-floating">
								  <select class="form-select" id="promotionCodeSelect" aria-label="Promotion code">
								    
								  </select>
								  <label for="promotionCodeSelect" style="color:black">Promotion code</label>
								</div>
	                            <div class="number">
	                            	<span style="color:black; display: block;">Quantity:</span>
									<span class="minus">-</span>
									<input id="quantity" type="text" value="1"/>
									<span class="plus">+</span>
								</div>
								
								<p class="price-label">Total: $<span id="totalPriceDetails" class="price-number"></span></p>
								<div class="d-grid gap-2">
									<button type="button" class="btn btn-primary btn-lg" id="btnAddCart">Add to cart</button>
								</div>
								<form id="formAddProduct" action="addtocart" method="POST">
									<input type="text" id="formID" name="id" hidden/>
									<input type="text" id="formQuantity" name="quatity" hidden/>
									<input type="text" id="formOriginal" name="original" hidden/>
									<input type="text" id="formFinal" name="final" hidden/>
								</form>
		                    </div>
		                </div>
		            </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>