<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="modal-addCart">
		<div class="container-modal modal-product" id="modalAddCart">
			<div class="product-card">
				<div class="productBackground">
					<div class="gradients">
						<div class="gradient" color="orange"></div>
					</div>
					<h1 id="headerModalCompany" class="brand"></h1>
					<img id="imgDetails" class="product-image show"/>
				</div>
				<div class="info">
					<input type="text" id="productID" hidden/>
					<span class="material-icons close">close</span>
					<div class="productName">
						<div>
							<h1 id="headerModalDetails" class="big"></h1>
							<div class="prices">
								<h3 class="price-tag">
									<span>$</span><strong id="priceDetails"></strong>
								</h3>
								<h3 id="arrowPrice" class="price-tag arrowPrice" hidden>
									<span>$</span><strong id="newPriceDetails" hidden></strong>
								</h3>
							</div>
							
						</div>
						<h3 id="modalCompany" class="small"></h3>
					</div>
					<div class="description">
						<h3 class="title">Product Info</h3>
						<p id="descriptionDetails" class="text"></p>
					</div>
					<div class="promotion-container">
						<h3 class="title">Select Coupon</h3>
						<select class="form-select" id="promotionCodeSelect" aria-label="Promotion code">
									    
						  </select>
					</div>
					<div class="quantity-container">
						<h3 class="title">Quantity</h3>
						<span class="minus">-</span>
						<input id="quantity" type="text" value="1"/>
						<span class="plus">+</span>
					</div>
					<div class="buy-price">
						<a id="btnAddCart" class="buy">
	                       Add to cart <span class="material-icons md-18">shopping_cart</span>
	                    </a>
	                    <div class="price">
	                    	<span>$</span>
							<h1 id="totalPriceDetails"></h1>
	                    </div>
					</div>
					<form id="formAddProduct" action="/addtocart" method="POST">
						<input type="text" id="formID" name="id" hidden/>
						<input type="text" id="formQuantity" name="quatity" hidden/>
						<input type="text" id="formOriginal" name="original" hidden/>
						<input type="text" id="formFinal" name="final" hidden/>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>