<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Webuy | Promotion Event Manager</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/view-css/coupons.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{../static/img/apple-touch-icon.png}">
	<link rel="shortcut icon" type="image/png" sizes="32x32" th:href="@{../static/img/favicon-32x32.png}">
	<link rel="shortcut icon" type="image/png" sizes="16x16" th:href="@{../static/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{../static/img/site.webmanifest}">
	<link rel="mask-icon" th:href="@{../static/img/safari-pinned-tab.svg}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <header th:insert="headerfooter :: superUser-header"> </header>
    <div class="admin-coupons">
        <section id="admin-header">
            <section class="coupon-actions">
            	<a id="p-add" href="#" class="add-btn" onclick="addPromotionEvent();"><span
	                        class="material-icons md-36">add_circle_outline</span>New</a>
                <form id="promotionEventSearchForm" action="searchPromotionEvent" class="coupon-form">
                    <input id="searchInput" type="text" name="search-bar" class="search-input" placeholder="Search promotion event..." />
                    <button type="submit" class="search-btn">
                        <span class="material-icons md-36">
                            search
                        </span>
                    </button>
                </form>
            </section>
        </section>
        <section class="coupons-container">
            <table class="coupons-table">
                <thead class="coupons-table-head">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody class="coupons-table-body">
                    <tr th:each="promotionEvents: ${promotionEvents}">
                        <td th:text="${promotionEvents.promotion_event_name}" />
                        <td th:text="${promotionEvents.promotion_event_description}">
                        <td th:text="${promotionEvents.promotion_event_start_date}" />
                        <td th:text="${promotionEvents.promotion_event_end_date}" />
                        <td th:text="${promotionEvents.promotion_event_status}"/>
                        <td>
	                        <span id="p-edit" class="material-icons md-36 p-action" onclick="editPromotion(event);">
	                        	edit
	                        	<input type="hidden" id="element-id" th:value="${promotionEvents.promotion_event_id}"/>
	                        	<input type="hidden" id="element-admin-id" th:value="${promotionEvents.admin_id}"/>
	                        </span>
                        </td>
                        <td><a th:href="@{/deletePromotionEvent/{promotion_id}(promotion_id=${promotionEvents.promotion_event_id})}" onclick="confirm('Are you sure you want to delete this coupon?');"><span id="p-delete" class="material-icons md-36 p-action">delete</span></a></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div th:insert="promotionmodals :: modal-add"></div>
        <div th:insert="promotionmodals :: modal-edit"></div>
        
        <div id="promotionDataModal" class="modal">
            <div class="modal-contents">
                <span class="material-icons close">close</span>
                <h3>Promotion Event Information</h3>
                <form>
				  <div class="form-group">
				    <label for="promotionEventNameS">Promotion Event Name</label>
				    <input type="text" class="form-control" id="promotionEventNameS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="promotionEventDescS">Promotion Event Description</label>
				    <input type="text" class="form-control" id="promotionEventDescS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="promotionEventStartDateS">Promotion Event Start Date</label>
				    <input type="text" class="form-control" id="promotionEventStartDateS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="promotionEventEndDateS">Promotion Event End Date</label>
				    <input type="text" class="form-control" id="promotionEventEndDateS" disabled>
				  </div>
				  <div class="form-group">
				    <label for="promotionEventStatusS">Promotion Event Status</label>
				    <input type="text" class="form-control" id="promotionEventStatusS" disabled>
				  </div>
				</form>
            </div>
        </div>
        <section id="pagination-wrapper">
            <nav aria-label="...">
                 <ul class="pagination">
                     <li class="page-item" th:classappend="${!paginationData.hasPrevious()} ? disabled">
                         <a class="page-link"
                             th:href="@{/promotionevents(size=${paginationData.pageSize}, page=${paginationData.currentPage-1})}"
                             tabindex="
                             -1">Previous</a>
                     </li>
                     <li th:each="i: ${#numbers.sequence(1, paginationData.totalPages )}" class="page-item"
                         th:classappend="${i==paginationData.currentPage} ? active">
                         <a class="page-link" th:text="${i}"
                             th:href="@{/promotionevents(size=${paginationData.pageSize}, page=${i})}">a</a>
                     </li>
                     <li class="page-item" th:classappend="${!paginationData.hasNext()} ? disabled">
                         <a class="page-link"
                             th:href="@{/promotionevents(size=${paginationData.pageSize}, page=${paginationData.currentPage+1})}">Next</a>
                     </li>
                 </ul>
              </nav>
        </section>
    </div>
    <footer th:insert="headerfooter :: footer"> </footer>
    
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/promotionEvents.js"></script>
    <!-- PromotionEvents search function script -->
   
</body>

</html>