#admin-header {
    padding: 20px;
    padding-top: 0px;
    color: white;
}

h1 {
  display: block;
  width: 32%;
  font-size: 55px;
  font-weight: 600;
  margin: 30px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.coupon-actions {
  margin-bottom: 30px;
  margin-left: 10px;
}

datalist {
  border-radius: 5px;
  outline: none;
}

input[type="text"] {
  border-radius: 5px;
  padding: 0px 14px;
  outline: none;
}

input[type="text"].search-input {
  border-radius: 5px 0px 0px 5px;
  flex-grow: 2;
}

.coupon-form {
  display: flex;
  flex-direction: row;
}

.search-btn {
  color: white;
  background-color: #e85923;
  border-radius: 0px 5px 5px 0px;
  padding-top: 5px;
}

.add-btn{
	display: inline-flex;
    text-decoration: none;
    font-size: 26px;
	margin: 20px 0px;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: #e85923;
    transition: all 300ms;
    cursor: pointer;
}
.add-btn span{
	padding-right: 5px;
}
.add-btn:hover {
  background-color: white;
  box-shadow: 0px 0px 3px 2px #e85923;
  color: #ec6f43;
}

#p-edit {
  color: #e85923;
  text-shadow: 0px 1px 0px black;
  cursor: pointer;
  transition: all 300ms;
}

#p-edit:hover {
  color: blue;
}

#p-delete {
  text-shadow: 0px 1px 0px black;
  color: #e85923;
  cursor: pointer;
  transition: all 300ms;
}

#p-delete:hover {
  color: red;
}

.coupons-container {
  margin: 20px;
}

#pagination-wrapper {
  display: block;
  width: 245px;
  margin: 20px auto;
  margin-bottom: 25px;
  border-radius: 10px;
  transform: scale(1.3);
}

#pagination-wrapper .page-link {
  color: #0734b8;
}

#pagination-wrapper .page-item.active .page-link {
  background-color: #0734b8;
  border-color: #0734b8;
  color: white;
}

#pagination-wrapper .page-item.disabled .page-link {
  color: #6c757d;
}

footer {
  background: linear-gradient(128deg, rgba(7, 52, 184, 1) 0%, rgba(122, 123, 186, 1) 100%);
  color: white;
  border-top: 1px solid #ccc;
  padding: 10px;
}
